*{
	box-sizing: border-box;
}

body{
	background-color: #464f54;
	padding-top: 150px;
}

.wrapper{
	max-width: 1060px;
	margin: 0 auto;
	background-color: #fff;
	padding: 185px 115px 30px 130px;
}

.header-info,
.header-info a{
	font-family: proxima_nova, Arial, sans-serif;
	color: #b4b4b4;
	font-size: 20px;
	text-decoration: none;
}

.article-title {
	margin: .57em 0 0;
	font-size: 78px;
	text-transform: uppercase;
	font-family: 'FuturaPT', Arial, sans-serif;
}

.article-author{
	text-transform: uppercase;
	letter-spacing: 0.219em;
}

.article-desc {
	font-family: Georgia, serif;
	font-size: 30px;
	color: #8f8f8f;
	line-height: 2em;
}

.header {
	margin-bottom: 25px;
}

.article-content p{
	font-size: 26px;
	line-height: 1.5;
}

body{
	position: relative;
}

.form-editor{
	position: absolute;
	right: 0;
	top: 47px;
	max-width: 878px;
	width: 80%;
}

.form-title{
	position: relative;
	height: 188px;
	background-color: #181818;
	padding: 50px 0 50px 60px;
}

.form-input{
	display: block;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #303030;
	font-size: 48px;
	font-family: 'Playfair Display', serif;
	color: #fefefe;
	line-height: 1.9583; /*высоту на расстояние*/
	width: 100%;
	outline: none;
}

.form-label{
	position: absolute;
	left: 60px;
	top: 50px;
	text-transform: uppercase;
	color: #767676;
	font-family: 'FuturaPT', Arial, sans-serif;
	letter-spacing: 0.2em;
}

.form-bottom{
	height: 78px;
	background-color: #f9bf2d;
	padding: 0 43px;
	display: flex;
	align-items: center;
	width: calc(100%-65px);
	margin-left: 65px;
}

.form-text-decoration + .form-text-decoration{
	margin-left: 32px;
}

.form-text-decoration{
	background-color: transparent;
	border: none;
	opacity: .5;
	color: #fff;
	width: 33px;
	height: 33px;
	padding: 0;
	cursor: pointer;
	font-size: 22px;
	font-family: sans-serif;
}

.form-text-decoration:focus,
.form-text-decoration:hover{
	opacity: 1;
}

.text-decoration-color{
	text-decoration: underline;
	text-transform: uppercase;
	
}

.text-decoration-uppercase small{
	font-size: 60%;
}

.text-decoration-bold{
	font-weight: bold;
}

.text-decoration-italic{
	font-style: italic;
	text-transform: uppercase;
}

.text-decoration-underline {
	text-decoration: underline;
}

.form-text-decoration span{
	display: block;
	height: 3px;
	background-color: #fff;
	margin-bottom: 3px;
}

.form-text-decoration span:last-child{
	margin-bottom: 0;
}

.text-decoration-image{

}

.text-decoration-justify{

}

.text-decoration-left span:nth-child(even){
	width: 20px;
}

.text-decoration-center span:nth-child(even){
	width: 20px;
	margin: 3px auto;
}

.text-decoration-right span:nth-child(even){
	width: 20px;
	margin-left: 13px;
}